<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>客服</title>
    </head>
    <style>
        p{width:100px;margin:80px auto 30px auto;text-align: center;}
        #show,#msg{width:400px;margin:10px auto;}
        #show textarea,#msg textarea{width:100%;height: 150px;}
    </style>
    <script src="/thinkphp/public/static/js/jquery.js"></script>

    <body>
    <iframe src="fromClient" width="0" height="0" frameborder="0"></iframe>
    <p>客服</p>
    <div id="show" >
        <textarea name="show" cols="30" rows="10" readonly="readonly"></textarea>
    </div>
    
    <div  id="msg">
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
        <button id="btn">发送</button>
    </div>
     <script>
        
        $('#btn').click(function(){
            var content = $('#text').val();
            $.post('toClient', {"text":content}, function(ret) {
                var content = $('#text').val();
                $('#show textarea').append('您向用户发送了'+ret.content+'\r\n');
                $('#text').val('');
            });
        });
        function showMsg(msg){
            $('#show textarea').append('用户向您发送了'+msg+'\r\n');
        }
    </script>
    </body>
</html>