<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>后台管理</title>
  </head>
<frameset rows="65px,*" border="0">
    <frame src="Index/top" noresize="true" scrolling="no" />
    <frameset cols="200px,*" border="0">
        <frame src="Index/sidebar" name="sidebar" noresize="true" scrolling="no"/>
        <frame src="Index/user" noresize="true" name="main" />
    </frameset>
    
</frameset> 
</html>


