<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/user-content.css">
<link rel="icon" type="image/png" href="/static/css/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/static/css/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="/static/css/amazeui.min.css"/>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>